# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env
frontend/.env
backend/.env
.env*.local

# Build output & test coverage
dist/
frontend/dist/
dist-ssr/
coverage/
*.local
pg_local_data/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
